:root {
    /* font-size */
    --fs-xxsm: 12px;
    --fs-xsm: 14px;
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-mmd: 20px;
    --fs-lg: 25px;
    --fs-llg: 32px;
    --fs-xl: 38px;
    --fs-xxl: 44px;

    /* font-color */
    --fc-white: #ffffff;
    --fc-black: #000000;
    --fc-yellow: #ffd600;
    --fc-green: #00a106;
    --fc-red: #ff1300;
    --fc-secondary-red: #ff0000;
    --fc-brown: #70675f;
    --fc-regular-brown:#A59A90;
}
@media(min-width:576px){
    :root{
        --fs-xl: 55px;
        --fs-xxl: 80px;
        --fs-lg: 30px;
        --fs-llg: 36px;  
        --fs-sm: 16px;
        --fs-md: 18px;
        --fs-mmd: 24px;
    }
}
@media(min-width:768px) {
    :root {
        --fs-xxl: 107px;
        --fs-lg: 36px;
        --fs-llg: 48px;
        --fs-xl: 70px;
    }
}
@media(min-width:992px) {
    :root {
        --fs-xxl: 130px;
        --fs-llg: 60px;
        --fs-xl: 80px;
    }
}
@media(min-width:1200px) {
    :root {
        --fs-xxl: 157px;
        --fs-llg: 72px;
    }
}